@media screen and (max-width:768px) {

  .location_block {
    margin-left: 0;
    text-align: center;
  }

  .main {
    padding: 50px 30px;
    width: auto;
    border-radius:0;
  }

  .search_bar {
    width: 95%;
    font-size: 1rem;
  }

  .search_block{
    height: 40px;
  }

  .search-btn,
  #search-icon {
    width: 20%;
  }

  .box {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }

  .box:nth-child(1) {
    text-align: center;
  }

  .w_condition {
    margin-top: 12px;
    font-size: 1rem;
  }

}