.abouts-container {
    padding: 20px;
}

.header {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

.subheader {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #34495e;
    padding-top: 30px;
}

.story-text {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 40px;
    text-align: justify;
}

.feature-card {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.feature-title {
    color: #08a554fd;
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
}

.info-section {
    background-color: #ecf0f1;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.info-title {
    color: #3498db;
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
}

.image-section {
    margin-top: 40px;
}

.image-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.destination-image {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.image-title {
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #2c3e50;
}