body{
    background-color: rgb(26, 33, 48);
}
.bdy-container{
    margin-top: 1%;
    background-color: rgba(242,40,83);
    width: 50%;
}

.box{
    height: 26vh;
    background-color:rgba(242,40,83);
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 150px;
   
}

.box1{
    border-right:2px dashed white;
    border-bottom: 2px dashed white;
}

.box2{
    border-right:2px dashed white;
    border-bottom: 2px dashed white;
}

.box3{
    border-bottom: 2px dashed white;
}

.box4{
    border-right:2px dashed white;
    border-bottom: 2px dashed white;
}

.box5{
    border-right:2px dashed white;
    border-bottom: 2px dashed white;
}

.box6{
    border-bottom: 2px dashed white;
}

.box7{
    border-right:2px dashed white;
}

.box8{
    border-right:2px dashed white;
}


.top-display{
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid white;
}
.winner-display{
    display: none;
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid white;
}
.reset-btn{
    border: none;
    outline: none;
    color: rgba(242,40,83);
    background-color: white;
    width: 20%;
    height:40px;  
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

.reset-btn:focus{
    border: none;
    outline: none;
}
