.destination-box {
    padding: 20px;
    text-align: center;
}

.city-nav {
    margin: 20px auto;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.city-nav-item {
    border: 1px solid green;
    color: green;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.city-nav-item.active {
    background-color: green;
    color: white;
}

.city-nav-item:hover {
    background-color: orange;
    color: white;
    border: none;
}

.display-box {
    width: 90%;
    height: 70vh;
    margin: 10px auto;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    scrollbar-width: thin;
    scrollbar-color: orange #f0f0f0;
}

span {
    color: brown;
}



@media (max-width: 768px) {
    .city-nav {
        width: 100%;
    }

    .city-nav-item {
        flex: 1 0 40%;
        margin: 5px;
    }
}

.place-card {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

.place-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.place-card h4,
.place-card p {
    padding: 10px 20px;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.place-card h4 {
    font-size: 1.5rem;
    color: #333;
}

.place-card p {
    font-size: 1rem;
    color: #777;
    line-height: 1.6;
}

.place-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .place-card {
        max-width: 100%;
        margin: 10px;
    }

    .place-card h4 {
        font-size: 1.3rem;
    }

    .place-card p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .place-card {
        border-radius: 15px;
        margin: 10px;
    }

    .place-card h4 {
        font-size: 1.1rem;
    }

    .place-card p {
        font-size: 0.8rem;
    }
}