
/*------------------------------- Home page -----------------------------------------*/

@media only screen and (max-width: 1024px) {
    
    .image-box{
    height: 350px;
    width: 350px;
    margin: 20vh auto;
}

.intro .text{
    font-weight: bold;
    font-size: 37px;
    line-height:1.8;
}

.intro{
    margin-top: 28vh;
    margin-left: 10%;
}

}

@media only screen and (max-width: 768px) {

.home-bdy-container{
   height: auto;
   padding-top: 50px;
}
    
.image-box{
    height: 350px;
    width: auto;
    margin: 5vh auto;
}   

.intro{
    margin-top: 15vh;
    margin-left: none;
}

.intro .name{
    font-size: 25px;
}

.intro .role{
    font-size: 25px;
}

.intro .location{
    font-size: 20px;
}
}

@media only screen and (max-width: 500px) {

    .home-bdy-container{

    height: auto;
   padding-top: 50px;
  }
    
    #option-nm li a {
        padding: 13px 0px;
        text-align: left;
    }

    .image-box{
    height: 350px;
    width: auto;
    margin: 5vh auto;
}

.intro{
    margin-top: 3vh;
    margin-left: none;
}

.intro .name{
    font-size: 25px;
}

.intro .role{
    font-size: 25px;
}

.intro .location{
    font-size: 20px;
}
}

/*------------------------------- Projects page -----------------------------------------*/

@media (max-width: 1024px) {
    .project-bdy-container {
        padding: 15px;
    }

    .projet-headline {
        font-size: 2.25rem;
        margin-bottom: 25px;
    }

    .project-card {
        padding: 12px;
        margin-bottom: 20px;
    }

    .icon-box {
        height: 180px;
    }

    .title-hd,
    .tech-hd,
    .desc-hd {
        font-size: 11px;
    }

    .title-text,
    .tech-text,
    .desc-text {
        font-size: 0.85rem;
    }
}


@media (max-width: 768px) {
    .projet-headline {
        font-size: 2rem;
        margin: 20px 0;
    }

    .icon-box {
        height: 150px;
    }

    .project-card {
        padding: 10px;
    }
}

@media (max-width: 576px) {
   .projet-headline {
        font-size: 1.75rem;
    }

    .icon-box {
        height: 120px;
    }

    .project-card {
        padding: 8px;
    }
}
