@media screen and (max-width:1024px) {
    .P_nav-items {
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    #close_icon {
        display: none;
        position: absolute;
        width: 50%;
        left: 25%;
        top: 8px;
    }

    .bar {
        width: 8%;
        display: block;
        margin-left: auto;
        padding-top: 3px;
    }

    .P_nav-items {
        display: none;
        position: absolute;
        top: 7vh;
        width: 100%;
        height: auto;
        background-color: rgba(68, 61, 139, 0.763);
        overflow: hidden;
    }




    .P_nav-items ul {
        text-align: left;
    }

    .P_nav-items ul li {
        display: block;
    }

    .bar .line {
        width: 55%;
    }

    .P_brand {
        width: 20%;
        font-size: 24px;
    }
}

@media screen and (max-width:576px) {
    .P_brand {
        width: 30%;
        font-size: 18px;
    }

    .bar {
        width: 10%;
    }
}

@media screen and (max-width:375px) {
    .bar {
        width: 12%;
    }

    .bar .line {
        width: 60%;
    }
}

.spcl {
    font-weight: bold;
    color: black;
}






/*------------------------------- Home page -----------------------------------------*/

@media only screen and (max-width: 1024px) {

    .image-box {
        height: 350px;
        width: 350px;
        margin: 20vh auto;
    }

    .intro .text {
        font-weight: bold;
        font-size: 37px;
        line-height: 1.8;
    }

    .intro {
        margin-top: 28vh;
        margin-left: 10%;
    }

    #dw_resume-btn {
        width: 45%;
        height: 45px;
        margin-top: 30px;
        margin-left: 50px;
    }

}

@media only screen and (max-width: 768px) {

    .home-bdy-container {
        height: auto;
        padding-top: 50px;
    }

    .image-box {
        height: 350px;
        width: auto;
        margin: 5vh auto;
    }

    .intro {
        margin-top: 15vh;
        margin-left: none;
    }

    .intro .name {
        font-size: 25px;
    }

    .intro .role {
        font-size: 25px;
    }

    .intro .location {
        font-size: 20px;
    }

    #dw_resume-btn {
        width: 50%;
        height: 45px;
        margin-top: 50px;
        margin-left: 30px;
        border-radius: 10px;
    }

}

@media only screen and (max-width: 500px) {

    .home-bdy-container {

        height: auto;
        padding-top: 50px;
    }

    #option-nm li a {
        padding: 13px 0px;
        text-align: left;
    }

    .image-box {
        height: 350px;
        width: auto;
        margin: 5vh auto;
    }

    .intro {
        margin-top: 3vh;
        margin-left: none;
    }

    .intro .name {
        font-size: 25px;
    }

    .intro .role {
        font-size: 25px;
    }

    .intro .location {
        font-size: 20px;
    }

    #dw_resume-btn {
        width: 50%;
        height: 40px;
        margin-top: 30px;
    }

}

/*------------------------------- Projects page -----------------------------------------*/

@media (max-width: 1024px) {
    .project-bdy-container {
        padding: 15px;
    }

    .projects-row {
        margin-left: 0;
        margin-right: 0;
    }

    .projet-headline {
        font-size: 2.25rem;
        margin-bottom: 25px;
    }

    .project-card {
        padding: 12px;
        margin-bottom: 20px;
    }

    .icon-box {
        height: 180px;
    }

    .title-hd,
    .tech-hd,
    .desc-hd {
        font-size: 9px;
    }

    .title-text,
    .tech-text,
    .desc-text {
        font-size: 0.85rem;
    }
}


@media (max-width: 768px) {
    .projet-headline {
        font-size: 2rem;
        margin: 20px 0;
    }

    .projects-row {
        margin-left: 0;
        margin-right: 0;
    }


    .icon-box {
        height: 150px;
    }

    .project-card {
        padding: 10px;
    }
}

@media (max-width: 576px) {

    .projet-headline {
        font-size: 1.75rem;
    }

    .projects-row {
        margin-left: 0;
        margin-right: 0;
    }


    .icon-box {
        height: 120px;
    }

    .project-card {
        padding: 8px;
    }
}

/*------------------------------- Abouts page -----------------------------------------*/

@media (max-width: 1024px) {
    .Experience .arrow {
        right: -2.5%;
        rotate: 45deg;
    }

    .Education .arrow {
        left: -2.5%;
    }

    .pr-line {
        width: 25px;
    }
}


@media (max-width: 768px) {
    .Experience-hd {
        border-bottom: 2px solid #ccc;
    }

    .Education-hd {
        display: none;
    }

    .mb-education-hd {
        width: 100%;
    }

    .Education-hd2 {
        display: block;
        width: 100%;
        border-bottom: 2px solid #ccc;
    }

    .Experience .arrow {
        right: -2.5%;
        rotate: 45deg;
    }

    .Experience .details {
        padding: 2px;
    }

    .Education .arrow {
        left: -2.5%;
    }

    .pr {
        width: 110px;
        height: 110px;
    }

    .pr-line {
        width: 19px;
    }

    .pr-text {
        font-size: 13px;
        font-weight: bold;
    }

    .pr_icon {
        width: 40px;
        margin-bottom: 5px;
    }

    .skill_box {
        width: 40%;
        padding: 3px;
    }

    .skill_icon {
        width: 35px;
    }

    .skill_text {
        font-size: 15px;
    }

    .main-msgbox {
        width: 90%;
    }

    #name,
    #email {
        width: 100%;
        height: 50px;
        margin: 20px 3%;
    }

    #msg {
        width: 94%;
        margin: 20px auto;
    }


}

@media (max-width: 576px) {
    .Experience .content {
        height: 260px;
        padding-right: 30px;
        padding-left: 5px;
    }

    .Education .content {
        height: 205px;
        padding-right: 20px;
        padding-left: 5px;
    }

    .Experience .content-2 {
        height: 290px;
        padding-right: 50px;
    }

    .Experience .road-box {
        padding-top: 113px;
        padding-left: 5px;
    }

    .Experience .road-box .line-1 {
        height: 290px;
    }

    .Education .road-box {
        padding-top: 70px;
    }

    .Education .road-box .line-1 {
        height: 225px;
    }

    .Education .road-box .line-2 {
        height: 225px;
    }

    .pr {
        width: 55px;
        height: 55px;
    }

    .pr-line {
        width: 10px;
    }

    .pr-text {
        font-size: 8px;
        font-weight: unset;
    }

    .pr_icon {
        width: 20px;
        margin-bottom: 2px;
        margin-top: 10px;
    }

    .dev-prs-hd {
        font-weight: 500;
        font-size: 13px;
        font-style: italic;
    }

    .skill_box {
        width: 25%;
        height: 100px;
        padding: 3px;
    }

    .skill_icon {
        width: 25px;
        margin-top: 5px;
        margin-bottom: 8px;
    }

    .skill_text {
        font-size: 10px;
    }

    .social_icon {
        width: 60px;
    }

    #send-btn {
        margin: auto;
        width: 40%;
        height: 50px;
        margin-top: 10px;
    }

}