@media only screen and (max-width: 1024px) {
    
    .image-box{
    height: 350px;
    width: 350px;
    margin: 20vh auto;
}

.intro .text{
    font-weight: bold;
    font-size: 37px;
    line-height:1.8;
}

.intro{
    margin-top: 28vh;
    margin-left: 10%;
}

}


@media only screen and (max-width: 768px) {
    
    #option-nm li a {
        padding: 13px 0px;
        text-align: left;
    }
}
