@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #EB3678;

}

body {
    scrollbar-width: thin;
    margin: 0;
    background-color: rgb(23, 21, 59);
}


.navbar {
    position: fixed;
    width: 100%;
    margin-top: 0;
    z-index: 5;
    background-color: rgb(67, 61, 139);
}

#option-nm {
    margin-left: auto;
}

#option-nm li a {
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    font-family: "Playwrite GB S", cursive;
}

#navbar-brand {
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    font-weight: bold;
}

/*------------------------------- Home page -----------------------------------------*/

.home-bdy-container {
    height: 100vh;
}

.intro {
    margin-top: 27vh;
    margin-left: 20px;
}

.intro .text {
    font-weight: bold;
    line-height: 1.8;
}

.intro p {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.intro .name {
    font-size: 60px;
}

.intro .role {
    font-size: 45px;
}

.intro .location {
    font-size: 40px;
}

.image-box {
    height: 380px;
    width: 380px;
    margin: 0 auto;
    margin-top: 19vh;

    border-radius: 50%;
    background-color: green;
}

#dw_resume-btn {
    width: 20%;
    height: 50px;
    border: none;
    outline: none;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: rgb(67, 61, 139);
    font-size: 18px;
}

#dowload_icon {
    width: 25px;
    margin: auto;
}

/*------------------------------- Projects page -----------------------------------------*/


.project-bdy-container {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.projet-headline {
    margin-top: 60px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: "Playwrite GB S", cursive;
    text-transform: uppercase;
}

.projects-row {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
}

.project-card {
    position: relative;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    flex-direction: column;
}

.project-card:hover .overlay {
    opacity: 1;
}

.overlay button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.overlay .btn-primary {
    background-color: #007bff;
}

.overlay .btn-secondary {
    background-color: #6c757d;
}

.overlay .btn-primary:hover {
    background-color: #0056b3;
}

.overlay .btn-secondary:hover {
    background-color: #5a6268;
}

.icon-box {
    background-image: linear-gradient(skyblue, rgb(234, 6, 203));
    margin-bottom: 10px;
    height: 200px;
    border-radius: 8px;
}

.title-hd,
.tech-hd,
.desc-hd {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: black;
}

.title-text,
.tech-text,
.desc-text {
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: black;
}

.coming-soon-container {
    padding-top: 90px;
    border-radius: 10px;
}

#add_icon {
    width: 70px;
    margin-bottom: 20px;
}

.coming-soon-text {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-top: 20px;
}

/*------------------------------- Abouts page -----------------------------------------*/

.abouts-bdy-container {
    height: auto;
}

.abouts-haedline {
    margin-top: 80px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: "Playwrite GB S", cursive;
    text-transform: uppercase;
}

.about_main_box {
    margin-top: 10px;
}

.Experience-hd,
.Education-hd {
    font-size: 1.2rem;
    font-weight: bold;
}




.road-box {
    position: relative;
    display: inline-block;
}

.road-box .round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

.road-box .line {
    width: 9px;
    height: 200px;
    background-color: white;
    margin: -10px auto;
}

.Education .content {
    position: relative;
    height: 200px;
    width: 100%;
    margin: 10px;
    padding-left: 20px;
    padding-top: 25px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 30px;
}

.Education .arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    top: 40%;
    left: -3%;
    rotate: 45deg;
}


.Education .content-1 {
    height: 150px;
}

.Education .content-2,
.Education .content-3 {
    height: 150px;
}

.details {
    position: absolute;
    line-height: 1;
}

.inst_nm,
.cmplt_time,
.marks {
    color: #212529;
    font-family: 'Arial', sans-serif;
}

.inst_nm {
    font-weight: bold;
}

.Education .road-box {
    padding-top: 50px;
}

.Education .road-box .line-1,
.Education .road-box .line-2 {
    height: 168px;
}


.Experience .content {
    position: relative;
    height: 200px;
    width: 100%;
    margin: 10px;
    padding-left: 15px;
    padding-top: 25px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 30px;
}

.Experience .arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    top: 40%;
    right: -3%;
    rotate: 45deg;
}

.Experience .details p {
    color: black;
    color: #212529;
    font-family: 'Arial', sans-serif;
}

.company_nm {
    font-weight: bold;
}

.Experience .road-box {
    padding-top: 90px;
    padding-left: 20px;
}

.Experience .road-box .line-1 {
    height: 220px;
}

.road-box .round {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#round_icon {
    width: 20px;
}

.dev-prs-hd,
.skill_hd {
    font-weight: bold;
    font-size: 17px;
    font-style: italic;
}

.dev-prs-main {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.pr {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pr-line {
    width: 100px;
    height: 5px;
    background-color: whitesmoke;
}

.pr_icon {
    width: 50px;
    margin-bottom: 8px;
}

.pr-text {
    color: rgb(23, 21, 59);
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.skill_hd {
    margin-bottom: 35px;
}

.skill_main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill_box {
    width: 18%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill_icon {
    width: 40px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.br {
    width: 100%;
}

/*---------------------------------- Contact page -------------------------------------*/

.contact-bdy-container {
    height: auto;
}

.contact-hadline {
    margin-top: 40px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: "Playwrite GB S", cursive;
    text-transform: uppercase;
}

.main-msgbox {
    width: 60%;
    padding: 50px 0;
    margin: auto;
    height: auto;
    border-radius: 20px;
    background-color: rgba(68, 61, 139, 0.701);
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#name,
#email {
    border: none;
    outline: none;
    width: 42%;
    height: 50px;
    margin: 20px 3%;
    padding-left: 15px;
    background-color: rgb(23, 21, 59);
}

#msg {
    border: none;
    outline: none;
    width: 90%;
    height: 200px;
    margin: 20px 3%;
    padding: 20px;
    background-color: rgb(23, 21, 59);
}

#send-btn {
    margin: auto;
    width: 20%;
    height: 50px;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(23, 21, 59);
}

.social-box {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.477);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icon {
    width: 100px;
}