@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.playlist-container {
    width: 20%;
    height: 100vh;
    overflow-y: auto;
    border-right: 2px solid white;
    background-color: #2828289a;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;

    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.playlist-container::-webkit-scrollbar {
    width: 5px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.fvrt-hd {
    width: 100%;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.fvrt-hd:hover {
    color: #ff7f50;
    transform: scale(1.05);
}

.music-queue {
    width: 100%;
    cursor: pointer;
    background-color: #333;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.music-name {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #ddd;
    margin-bottom: 10px;
}


.remove-btn {
    display: none;
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #ff7875;
}


@media (max-width: 768px) {
    .playlist-container {
        width: 100%;
        height: auto;
        padding: 20px;
        border: none;
    }

    .fvrt-hd {
        font-size: 20px;
    }

    .music-name {
        font-size: 14px;
    }

    .remove-btn {
        padding: 5px;
    }
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.status {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.music-queue:hover .remove-btn {
    display: block;
}