.BannerContainer {
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.Carousel {
    width: 100%;
}

.CarouselSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* Adapts to content */
    background-color: #f5f5f5;
    /* Optional fallback background */
}

.CarouselImage {
    border-radius: 8px;
    object-fit: cover;
}