/* Main container for light and dark themes */
.main_container_light,
.main_container_dark {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    padding: 20px;
    box-sizing: border-box;
}

.main_container_dark {
    background-color: #1c1c1c;
}



.contactBox {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.main_container_dark .contactBox {
    background-color: #2a2a2a;
    color: white;
}


.contactTitle {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.contactSubtitle {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #555555;
    margin-bottom: 20px;
}

.main_container_dark .contactSubtitle {
    color: #dddddd;
}


.formGrid {
    margin-top: 20px;
}


.inputField .MuiInputBase-root {
    background-color: #f8f8f8;
}

.main_container_dark .inputField .MuiInputBase-root {
    background-color: #3b3b3b;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.submitButton {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    text-transform: none;
    background: linear-gradient(90deg, #ff512f, #dd2476);
    color: white;
    transition: all 0.3s ease;
}

.submitButton:hover {
    background: linear-gradient(90deg, #dd2476, #ff512f);
}


@media (max-width: 768px) {
    .contactBox {
        width: 90%;
    }

    .contactTitle {
        font-size: 1.5rem;
    }

    .contactSubtitle {
        font-size: 0.9rem;
    }

    .submitButton {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .contactTitle {
        font-size: 1.2rem;
    }

    .contactSubtitle {
        font-size: 0.8rem;
    }

    .submitButton {
        font-size: 0.8rem;
        padding: 8px;
    }
}

.main_container_dark .submitButton {
    background: linear-gradient(90deg, #4204ed, #dc0909);
    color: white;
    transition: all 0.3s ease;
}

.main_container_dark .submitButton:hover {
    background: linear-gradient(90deg, #dc0909, #4204ed);
}