@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.container-light {
    background-color: #ffffff;
    color: #000000;
}

.container-dark {
    background-color: #333333;
    color: #ffffff;
}

/* Toolbar and Brand */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.brand {
    font-weight: bold;
    cursor: pointer;
}

/* Desktop Navigation */
.list {
    display: flex;
    gap: 16px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.desktopOnly {
    display: flex;
}

.mobileMenuButton {
    display: none;
}


.mobileDrawer-light {
    position: absolute;
    top: 55px; 
    left: 0;
    width: 100%;
    height: calc(100vh - 64px); 
    background-color: inherit;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: gray;
    color: white;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mobileDrawer-dark{
    background-color: #333333;
    color: white;
    position: absolute;
    top: 55px; 
    left: 0;
    width: 100%;
    height: calc(100vh - 64px); 
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.drawerList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.drawerList li {
    padding: 15px 0;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.drawerList li:hover {
    background-color: #f0f0f0;
}

/* Mobile-Specific Styles */
@media (max-width: 768px) {
    .list {
        display: none; /* Hide desktop navigation */
    }

    .mobileMenuButton {
        display: block; /* Show hamburger menu button */
    }
}
