.main_dark,
.main_light {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    border-radius: 12px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.description {
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}


.uploadContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}


.uploadBox {
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
}

.uploadBox:hover {
    border-color: #ff5678;
    background-color: #f5faff;
}

.uploadIcon {
    font-size: 32px;
    color: #888;
}

.successIcon {
    font-size: 32px;
    color: green;
}

.deleteButton {
    color: red;
    border-color: red;
    font-size: 14px;
    padding: 6px 12px;
    text-transform: none;
}

.deleteButton:hover {
    background-color: rgba(255, 0, 0, 0.1);
}


.loader {
    margin-bottom: 10px;
}


.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input {
    flex: 1;
    min-width: 150px;
}

.input .MuiInputBase-root {
    font-size: 14px;
}

.upload {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.uploadButton {
    background-color: #ff5678;
    color: white;
    text-transform: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
}

.uploadButton:hover {
    background-color: #8774F9;
}


@media (max-width: 768px) {
    .uploadBox {
        width: 80px;
        height: 80px;
    }

    .uploadIcon,
    .successIcon {
        font-size: 24px;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 12px;
    }

    .inputGroup {
        flex-direction: column;
    }

    .uploadButton {
        font-size: 12px;
        padding: 8px 16px;
    }
}

/*-------------  for dark mode ----------------*/

.main_dark .title {
    color: white;
}

.main_dark .description {
    color: #ccc;
}


.main_dark .deleteButton {
    color: white;
    background-color: #ff5678;
    border: none;
}

.main_dark .deleteButton:hover {
    background-color: white;
    color: #ff5678;
    border: none;
}

.main_dark .uploadBox {
    border: 2px dashed #ccc;
    background-color: #1e1e1e;
}

/*-------------------------------*/


.outline {
    border-color: #ccc;
    transition: border-color 0.3s ease;
}

.main_dark .outline {
    border-color: #555;
}

.input .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #555;
}

.input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #555;
}