
.main_light,
.main_dark {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
}

.main_dark {
    color: white;
}



/* Headline styles */
.headline_light,
.headline_dark {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.headline_light h1,
.headline_dark h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.headline_light p,
.headline_dark p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
}

.highlight {
    color: #ff6f61;
    font-weight: bold;
}

/* Type selection buttons styles */
.typeSelection {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.typeButton {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.userButton {
    background-color: #ff5678;
    color: white;
}

.userButton:hover {
    background-color: #ff3355;
}

.adminButton {
    background-color: #191919d4;
    color: white;
}

.adminButton:hover {
    background-color: #000000;
}

.main_dark .adminButton:hover {
    background-color: #0056b3;
}



@media (max-width: 768px) {

    .headline_light h1,
    .headline_dark h1 {
        font-size: 2rem;
    }

    .headline_light p,
    .headline_dark p {
        font-size: 1rem;
    }

    .typeSelection {
        flex-direction: column;
        gap: 15px;
    }

    .typeButton {
        font-size: 1rem;
        padding: 12px 25px;
    }
}

@media (max-width: 480px) {

    .main_light,
    .main_dark {
        padding: 0 15px;
    }

    .headline_light h1,
    .headline_dark h1 {
        font-size: 1.8rem;
    }

    .headline_light p,
    .headline_dark p {
        font-size: 0.9rem;
    }

    .typeSelection {
        flex-direction: column;
        gap: 10px;
    }

    .typeButton {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

.main_dark .subTitle {
    color: #fff;
}

.main_light .subTitle {
    color: #333;
}

.main_light .mainTitle {
    color: #333;
}