.navbar {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #8774F9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 1rem;
}

.greetingSection {
    text-align: left;
}

.helloText {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.welcomeText {
    font-size: 1rem;
    margin: 0.2rem 0 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}


.userSection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.themeToggleButton {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: color 0.3s;
}

.themeToggleButton:hover {
    color: #ffcc00;
}

.avatar {
    width: 40px;
    height: 40px;
}

.profileName {
    font-size: 1rem;
    color: white;
}

.signOutButton {
    background-color: white;
    color: #8774F9;
    border: 2px solid #8774F9;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    font-family: 'Roboto', sans-serif;
}

.signOutButton:hover {
    background-color: #ff5678;
    color: white;
    transform: scale(1.05);
}

.signOutButton:active {
    transform: scale(0.95);
}


/* Dark Mode Styles */
.main_dark {
    --navbar-bg: #2b2b2b;
    --text-secondary: #b3b3b3;
    --icon-color: #ffffff;
    --icon-hover-color: #ffcc00;
    --avatar-border-color: #ffcc00;
}

/* Light Mode Styles */
.main_light {
    --navbar-bg: #f9f9f9;
    --text-secondary: #6b6b6b;
    --icon-color: #000000;
    --icon-hover-color: #ff8c00;
    --avatar-border-color: #ff8c00;
}