.card-box {

    width: 100%;
    height: auto;
    padding: 20px 2vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.card {
    width: 25%;
}

.slider {
    position: relative;
    width: 80%;
    height: 50vh;
    margin: 30px auto;
    margin-top: 10px;
}

.slide-container {
    display: flex;
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
    position: relative;
    /* Maintain positioning context */
    height: 50vh;
    /* Set height for the container */
    overflow: hidden;
    /* Ensure no overflow */
}

.slide-img {
    width: 100%;
    height: 100%;
    /* Make the image fill the container */
    object-fit: cover;
    /* Ensure the image covers the container */
}

.cityname {
    margin-top: -15px;
    /* Adjust this value as needed */
    position: relative;
    /* Set position relative for z-index */
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 20px;
    z-index: 10;
    /* Ensure text is above the images */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Optional for better contrast */
}



.blog-container h3 {
    color: green;
}


.slick-dots li button:before {
    color: orangered !important;
}

.slick-dots li.slick-active button:before {
    color: green !important;
}


.custom-dots .slick-dots li.slick-active button:before {
    color: green !important;
}




@media screen and (max-width:800px) {

    .card-box {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

}