#Carousel-box {
    position: relative;
    height: 70vh;
}

#slide-img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width:800px) {
    #Carousel-box {
        height: 40vh;
    }
}

@media screen and (max-width:500px) {
    #Carousel-box {
        height: 30vh;
    }
}