.card-box {

    width: 100%;
    height: auto;
    padding: 20px 2vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.card {
    width: 25%;
}

.slider {
    position: relative;
    width: 80%;
    height: 50vh;
    margin: 50px auto 10px auto;
    overflow: hidden;
}

.slide-container {
    position: relative;
    width: 100%;
    height: 50vh;
}


.slide-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.cityname {
    position: absolute;
    top: 40%;
    left: 45%;
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 20px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.591);
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width:768px) {
    .cityname {
        left: 38%;
    }
}

@media screen and (max-width:426px) {
    .cityname {
        left: 31%;
        font-size: 25px;
    }
}


.blog-container h3 {
    color: green;
}


.slick-dots li button:before {
    color: orangered !important;
}

.slick-dots li.slick-active button:before {
    color: green !important;
}


.custom-dots .slick-dots li.slick-active button:before {
    color: green !important;
}




@media screen and (max-width:800px) {

    .card-box {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

}