.project_bdy_container {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.projet_headline {
    margin-top: 60px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.projects_row {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
}

.project_card {
    position: relative;
    padding: 15px;
    border-radius: 8px;
    background-color: #4D4D4D;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.project_card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.icon_box {
    background-color: #2B2B2B;
    margin-bottom: 10px;
    height: 200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.icon_box:hover {
    background-color: #444444;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    flex-direction: column;
}

.project_card:hover .overlay {
    opacity: 1;
}

.overlay button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}



.overlay .btn_primary {
    background-color: #697565;
}

.overlay .btn_secondary {
    background-color: #6c757d;
}

.overlay .btn_primary:hover {
    background-color: #ECDFCC;
    color: #212529;
}

.overlay .btn_secondary:hover {
    background-color: #5a6268;
}



.title_hd,
.tech_hd,
.desc_hd {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #ECDFCC;
}

.title_text,
.tech_text,
.desc_text {
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: whitesmoke;
}

.spcl {
    font-weight: bold;
    color: white;
}

.coming_soon_container {
    padding-top: 90px;
    border-radius: 10px;
}

.add_icon {
    width: 70px;
    margin-bottom: 20px;
}

.coming_soon_text {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-top: 20px;
}

.project_icon {
    width: 100px;
}

/*---------------------------- Animation -------------------------------*/


.project_card {
    transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
}

.project_card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    background-color: #5E5E5E;
}


.skill_box {
    animation: bounceIn 1.5s ease-in-out;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

/*------------------------------ Responsive ---------------------------------*/


@media (max-width: 1024px) {
    .project_bdy_container {
        padding: 15px;
    }

    .projects_row {
        margin-left: 0;
        margin-right: 0;
    }

    .projet_headline {
        font-size: 2.25rem;
        margin-bottom: 25px;
    }

    .project_card {
        padding: 12px;
        margin-bottom: 20px;
    }

    .icon_box {
        height: 180px;
    }

    .title_hd,
    .tech_hd,
    .desc_hd {
        font-size: 9px;
    }

    .title_text,
    .tech_text,
    .desc_text {
        font-size: 0.85rem;
    }
}


@media (max-width: 768px) {
    .projet_headline {
        font-size: 2rem;
        margin: 20px 0;
    }

    .projects_row {
        margin-left: 0;
        margin-right: 0;
    }


    .icon_box {
        height: 150px;
    }

    .project_card {
        padding: 10px;
    }
}

@media (max-width: 576px) {

    .projet_headline {
        font-size: 1.75rem;
    }

    .projects_row {
        margin-left: 0;
        margin-right: 0;
    }


    .icon_box {
        height: 120px;
    }

    .project_card {
        padding: 8px;
    }
}