.main_dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.profile_header {
  width: 100%;
  height: 35%;
  position: relative;
}


.profile_pic {
  position: absolute;
  top: 25%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile_pic_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.profile_body {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.profile_info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px;
}

.main_light .profile_item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  color: #333;
  font-weight: 500;
}
.main_dark .profile_item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.icon {
  font-size: 24px;
  color: #007bff;
}


.btn_container {
  margin-top: 20px;
}

.signout_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #ff4d4d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.signout_btn:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}

.logout_icon {
  font-size: 20px;
}


.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.modal_text {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.modal_buttons {
  display: flex;
  justify-content: space-between;
}

.confirm_btn {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #ff4d4d;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.confirm_btn:hover {
  background-color: #cc0000;
}

.cancel_btn {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cancel_btn:hover {
  background-color: #0056b3;
}


@media screen and (max-width: 768px) {
  .profile_pic {
    top: 30%;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .profile_pic {
    top: 28%;
    width: 80px;
    height: 80px;
  }
}
