    .main_dashboard {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }


    /*-------------------------------------- Side Nav --------------------------------------*/

    .side_nav {
        width: 6%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main_sidenav {
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0;
        border-radius: 20px;
        background-color: #ff5678;
    }

    .main_sidenav .logo {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 20px;
    }

    .main_sidenav_light .nav_item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .main_sidenav_light .nav_item:hover {
        background-color: black;
        cursor: pointer;
        border-radius: 20px 0 0 20px;
    }

    .main_sidenav_light .nav_item:hover .menu_name,
    .main_sidenav_light .nav_item:hover .menu_icon {
        color: #ff5678;
    }

    .main_sidenav .nav_item .menu_name {
        font-size: 13px;
        color: #fff;
        margin-top: 10px;
        text-align: center;
    }

    .main_sidenav .nav_item .menu_icon {
        font-size: 25px;
        color: #fff;
    }


    @media screen and (max-width: 768px) {

        .main_sidenav_light,
        .main_sidenav_dark {
            display: none;
        }

        .mob_sidenav_light,
        .mob_sidenav_dark {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 80%;
            background-color: #ff5678;
            z-index: 100;
            animation: slideIn 0.3s ease-in-out;
        }

        @keyframes slideIn {
            from {
                transform: translateX(-100%);
            }

            to {
                transform: translateX(0);
            }
        }

        .mob_header {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        .close_icon {
            font-size: 20px;
            color: #fff;
            cursor: pointer;
        }

        .theme_toggle {
            font-size: 20px;
            color: #fff;
            cursor: pointer;
        }

        .mob_nav_items {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }

        .mob_sidenav_light .nav_item,
        .mob_sidenav_dark .nav_item {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            padding: 15px;
            gap: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .mob_sidenav_light .nav_item:hover,
        .mob_sidenav_dark .nav_item:hover {
            background-color: #fff;
            border-radius: 30px;
        }

        .mob_sidenav_light .nav_item:hover .icon,
        .mob_sidenav_light .nav_item:hover span {
            color: #ff5678;
        }

        .menubar_dark,
        .menubar_light {
            position: absolute;
            top: 25vh;
            left: 10px;
            display: block;
            cursor: pointer;
            margin: 5px;
            font-size: 2rem;
            color: #ff5678;
            z-index: 200;
        }
    }

    @media screen and (min-width: 769px) {

        .main_sidenav_light,
        .main_sidenav_dark {
            display: flex;
        }

        .mob_sidenav_light,
        .mob_sidenav_dark {
            display: none;
        }

        .menubar_dark,
        .menubar_light {
            display: none;
        }
    }

    /*---------- side nav desktop responsive -------------*/

    @media screen and (max-width: 1440px) {
        .side_nav {
            width: 8%;
        }
    }

    @media screen and (max-width: 1024px) {
        .side_nav {
            width: 10%;
        }
    }

    @media screen and (max-width: 820px) {
        .side_nav {
            width: 12%;
        }
    }

    @media screen and (max-width: 768px) {
        .side_nav {
            width: 0;

        }
    }

    /*--------------------------------------------- manin content -----------------------------*/

    .main_dashboard .main_content {
        flex-grow: 1;
        width: 88%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /*--------------------------------------Upper Nav------------------------------------------------*/


    .main_dashboard .main_content .upper_nav {
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .upper_nav .welcome_box {
        width: 95%;
        height: 90%;
        border-radius: 20px;
        background-color: #8774f9;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .welcome_box .admin_details {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }


    .admin_details .admin_name {
        font-size: 35px;
        font-weight: 800;
        color: #fff;
        margin-top: 10px;
        margin-left: 10px;
    }

    .admin_details .welcome_text {
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        margin-top: 10px;
        margin-left: 10px;
    }


    .welcome_box .image_box {
        width: 40%;
        flex-grow: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome_box .image_box img {
        margin: auto auto;
        width: 60%;
        height: 100%;
    }

    @media screen and (max-width: 1024px) {

        .upper_nav .welcome_box {
            width: 95%;
        }

    }

    @media screen and (max-width: 768px) {
        .upper_nav {
            width: 100%;
        }

        .upper_nav .welcome_box {
            width: 95%;
        }

    }




    /*------------------------------------ Content area -------------------------------------------*/

    .main_content .content_area {
        width: 100%;
        height: 75vh;
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }