@media (max-width: 991.98px){
    #main_nav:not(:checked) ~ .main-nav{
        height: 0;
        overflow: hidden;
    }
    .main-nav{
        position: absolute;
        width: 100%;
        background: #dddddd;
        left: 0;
        right: 0;
        top: 60px;
        z-index: 999;
        align-items: start;
    }
    .main-nav .nav-item{
        width: 100%;
    }
    .main-nav .nav-link{
        display: block;
    }
    header .nav-link::before{
        content: none;
    }
    .process-single{
		padding: 20px;
	}
	.process-single::after{
		background-image: none;
		width: 0;
		height: 0;
	}
    header.israel-msg{
        height: 90px;
    }
    .login-signup-form-wrap{
        width: 100%;
    }
    .g-recaptcha{
        transform:scale(0.77);
        transform-origin:0 0;
    }
    #login:not(:checked) ~ .login-signup-form-wrap, #signup:not(:checked) ~ .login-signup-form-wrap{
        left: 0;
        right: 0;
    }
    .affiliate-tab-wrap .nav-tabs{
        padding-bottom: 4px;
        border-bottom: 1px solid #fff;
    }
    .affiliate-tab-wrap .tab-content{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .crypto-pair-wrap{
        border: 1px solid #d9d9d9;
        border-radius: 8px;
    }
    .crypto-exchange-button{
        display: block;
    }
    .crypto-pairs-status-text{
        line-height: 20px;
    }
    .exchange-coin-sm .coin-ticker{
        margin-right: 0;
    }
    
}