.main_light,
.main_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.main_light {
    background-color: white;
    color: black;
}

.main_dark {
    background-color: black;
    color: white;
}

.container_light,
.container_dark {
    background-color: inherit;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.container_dark {
    background-color: #252525;
}

.main_light .heading,
.main_dark .heading {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.main_light .subheading,
.main_dark .subheading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
}

.form .input_field {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
}

.form .input_field_light {
    color: black;
}

.form .input_field_dark {
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

.form .signin_btn_container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .signin_btn {
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: bold;
    background-color:#252525;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}


.main_dark .form .signin_btn {
    background: linear-gradient(135deg, #f76c6c, #56ccf2);
    color: white;
}